<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <form method="post" action="/ejs"  style="text-align: center;">

            <h1>Heloo EJS</h1>
    
            <input type="text" name="name" id="" > <br><br>
            <input type="submit" name="submit" value="submit" id="">
        </form> <br>


        <table border style="margin: auto; width: 20%; text-align: center; margin-top: 30px;">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Delete</th>
                <th>edit</th>
            </tr>

            <% result.forEach(function(ejs_user){ %>
            <tr>
                <td><%= ejs_user.id %></td>
                <td><%= ejs_user.name %></td>
                <td><a href="/delete/<%= ejs_user.id %>">Delete</a></td>
                <td><a href="/edit/<%= ejs_user.id %>">Edit</a></td>
            </tr>
            <% })%>
        </table>
    </body>
</html>